@model DevXuongMoc.Models.Banner

@{
    ViewData["Title"] = "Chi Tiết";
    Layout = "~/Areas/AdminQL/Views/Shared/Admin.cshtml";
}

<h1 class="text-center text-primary my-4">CHI TIẾT BANNER</h1>

<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <div class="card shadow-sm mb-4">
                <div class="card-header bg-primary text-white">
                    <h5>THÔNG TIN BANNER</h5>
                </div>
                <div class="card-body">
                    <dl class="row">
                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.Image)
                        </dt>
                        <dd class="col-sm-8">
                            @if (!string.IsNullOrEmpty(Model.Image))
                            {
                                <img src="@Model.Image" alt="Banner Image" class="img-fluid rounded" style="width: 100%; max-height: 300px; object-fit: cover;" />
                            }
                            else
                            {
                                <span>Không có ảnh</span>
                            }
                        </dd>

                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.Title)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.Title)
                        </dd>

                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.SubTitle)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.SubTitle)
                        </dd>

                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.Urls)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.Urls)
                        </dd>

                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.Orders)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.Orders)
                        </dd>

                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.Type)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.Type)
                        </dd>
                    </dl>
                </div>
            </div>
        </div>

        <div class="col-sm-6">
            <div class="card shadow-sm mb-4">
                <div class="card-header bg-success text-white">
                    <h5>THÔNG TIN BỔ SUNG</h5>
                </div>
                <div class="card-body">
                    <dl class="row">
                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.CreatedDate)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.CreatedDate)
                        </dd>

                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.UpdatedDate)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.UpdatedDate)
                        </dd>

                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.AdminCreated)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.AdminCreated)
                        </dd>

                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.AdminUpdated)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.AdminUpdated)
                        </dd>

                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.Notes)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.Notes)
                        </dd>

                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.Status)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.Status)
                        </dd>

                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.Isdelete)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.Isdelete)
                        </dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>

    <div class="text-center mt-4 mb-2">
        <a class="btn btn-warning" asp-action="Edit" asp-route-id="@Model?.Id">Chỉnh Sửa</a>
        <a class="btn btn-secondary" asp-action="Index">Quay Lại Danh Sách</a>
    </div>
</div>
