@model DevXuongMoc.Models.Product

@{
    ViewData["Title"] = "CHI TIẾT SẢN PHẨM";
    Layout = "~/Areas/AdminQL/Views/Shared/Admin.cshtml";
}

<h1 class="text-center text-primary my-4">CHI TIẾT SẢN PHẨM</h1>

<div class="container">
    <div class="row">
        <!-- Left column for product information -->
        <div class="col-sm-6">
            <div class="card shadow-sm mb-4">
                <div class="card-header bg-primary text-white">
                    <h5>THÔNG TIN SẢN PHẨM</h5>
                </div>
                <div class="card-body">
                    <dl class="row">
                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.Cid)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.Cid)
                        </dd>

                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.Code)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.Code)
                        </dd>

                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.Title)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.Title)
                        </dd>

                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.Description)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.Description)
                        </dd>

                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.Content)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.Content)
                        </dd>

                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.Image)
                        </dt>
                        <dd class="col-sm-8">
                            @if (!string.IsNullOrEmpty(Model.Image))
                            {
                                <img src="@Model.Image" alt="Banner Image" class="img-fluid rounded" style="width: 100%; max-height: 300px; object-fit: cover;" />
                            }
                            else
                            {
                                <span>Không có ảnh</span>
                            }
                        </dd>

                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.MetaTitle)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.MetaTitle)
                        </dd>

                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.MetaKeyword)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.MetaKeyword)
                        </dd>

                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.MetaDescription)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.MetaDescription)
                        </dd>
                    </dl>
                </div>
            </div>
        </div>

        <!-- Right column for additional information -->
        <div class="col-sm-6">
            <div class="card shadow-sm mb-4">
                <div class="card-header bg-success text-white">
                    <h5>THÔNG TIN BỔ SUNG</h5>
                </div>
                <div class="card-body">
                    <dl class="row">
                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.Slug)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.Slug)
                        </dd>

                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.PriceOld)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.PriceOld)
                        </dd>

                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.PriceNew)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.PriceNew)
                        </dd>

                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.Size)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.Size)
                        </dd>

                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.Views)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.Views)
                        </dd>

                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.Likes)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.Likes)
                        </dd>

                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.Star)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.Star)
                        </dd>

                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.Home)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.Home)
                        </dd>

                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.Hot)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.Hot)
                        </dd>

                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.CreatedDate)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.CreatedDate)
                        </dd>

                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.UpdatedDate)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.UpdatedDate)
                        </dd>

                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.AdminCreated)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.AdminCreated)
                        </dd>

                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.AdminUpdated)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.AdminUpdated)
                        </dd>

                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.Status)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.Status)
                        </dd>

                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.Isdelete)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.Isdelete)
                        </dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>

    <div class="text-center mt-4">
        <a class="btn btn-warning" asp-action="Edit" asp-route-id="@Model?.Id">Chỉnh Sửa</a>
        <a class="btn btn-secondary" asp-action="Index">Quay Lại Danh Sách</a>
    </div>
</div>
