@model X.PagedList.IPagedList<Lab07.Models.Category>
@using X.PagedList.Mvc.Core;
@{
    ViewData["Title"] = "Danh mục sản phẩm";
    Layout = "~/Areas/Admin/Views/Shared/Admin.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<div class="row">
    <form action="" method="get" class="form-inline">
        <div class="form-group">
            <label class="sr-only" for="keyword">Tìm theo tên loại</label>
            <input class="form-control" name="name" id="keyword" value="@ViewBag.keyword" placeholder="Nhập tên cần tìm" />
        </div>
        <button type="submit" class="btn btn-default mr-1" style="width:38px; height: 40px"><i class="fas fa-search"></i></button>
        <a asp-action="Create" class="btn btn-primary"><i class="fas fa-plus"></i>Thêm mới</a>
    </form>
   
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.FirstOrDefault().CategoryName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FirstOrDefault().Status)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FirstOrDefault().CreatedDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FirstOrDefault().Image)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FirstOrDefault().Description)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.CategoryName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Status)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreatedDate)
                    </td>
                    <td>
                        @*                 @Html.DisplayFor(modelItem => item.Image)
                    *@                    <img src="@item.Image" alt="" width="50px" height="50px">
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.CategoryId">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.CategoryId">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.CategoryId">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <hr />
    @Html.PagedListPager(Model, page => Url.Action("Index", new {page = page}), new PagedListRenderOptions
    {
        LiElementClasses = new string[] { "page-item" },
        PageClasses = new string[] { "page-link" }
    })
</div>
