@model DevXuongMoc.Models.AdminUser

@{
    ViewData["Title"] = "Chi Tiết";
    Layout = "~/Areas/AdminQL/Views/Shared/Admin.cshtml";
}

<h1 class="text-center text-primary my-4">CHI TIẾT NGƯỜI DÙNG QUẢN TRỊ</h1>

<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <div class="card shadow-sm mb-4">
                <div class="card-header bg-primary text-white">
                    <h5>THÔNG TIN TÀI KHOẢN</h5>
                </div>
                <div class="card-body">
                    <dl class="row">
                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.Account)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.Account)
                        </dd>

                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.Password)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.Password)
                        </dd>

                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.MaNhanSu)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.MaNhanSu)
                        </dd>

                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.Name)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.Name)
                        </dd>

                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.Phone)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.Phone)
                        </dd>

                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.Email)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.Email)
                        </dd>
                    </dl>
                </div>
            </div>
        </div>

        <div class="col-sm-6">
            <div class="card shadow-sm mb-4">
                <div class="card-header bg-success text-white">
                    <h5>THÔNG TIN BỔ SUNG</h5>
                </div>
                <div class="card-body">
                    <dl class="row">
                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.Avatar)
                        </dt>
                        <dd class="col-sm-8">
                            @if (!string.IsNullOrEmpty(Model.Avatar))
                            {
                                <img src="@Model.Avatar" alt="Avatar" class="img-fluid rounded-circle" style="width: 150px; height: 150px;" />
                            }
                            else
                            {
                                <span>Không có ảnh</span>
                            }
                        </dd>

                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.IdPhongBan)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.IdPhongBan)
                        </dd>

                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.NgayTao)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.NgayTao)
                        </dd>

                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.NguoiTao)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.NguoiTao)
                        </dd>

                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.NgayCapNhat)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.NgayCapNhat)
                        </dd>

                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.NguoiCapNhat)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.NguoiCapNhat)
                        </dd>

                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.SessionToken)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.SessionToken)
                        </dd>

                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.Salt)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.Salt)
                        </dd>

                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.IsAdmin)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.IsAdmin)
                        </dd>

                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.TrangThai)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.TrangThai)
                        </dd>

                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.IsDelete)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.IsDelete)
                        </dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>

    <div class="text-center mt-4 mb-2">
        <a class="btn btn-warning" asp-action="Edit" asp-route-id="@Model?.Id">Chỉnh Sửa</a>
        <a class="btn btn-secondary" asp-action="Index">Quay Lại Danh Sách</a>
    </div>
</div>
